@inherits LayoutComponentBase

<div class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Navbar -->
<NavMenu></NavMenu>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <MainSidebar></MainSidebar>

  <!-- Content Wrapper. Contains page content -->
    @Body
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <ControlSidebar></ControlSidebar>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <Footer></Footer>
</div>
<!-- ./wrapper -->


</div>
